{% load static %}

<footer>
    <!-- Social media icons -->
    <a href="" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in a new tab">
        <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in a new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
        <img src="{% static '/icons/twitter-sqaure-color-icon.svg' %}" alt="Twitter icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in a new tab">
        <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="YouTube icon" class="social-icon">
    </a>
</footer>